<div class="row">
<div class=" jumbotron center visible-sm">
<h4>THE VIDEOS ARE SUPPORTED ONLY IN LARGE SCREEN</h4>
</div>
<div class=" jumbotron center visible-md">
<h4>THE VIDEOS ARE SUPPORTED ONLY IN LARGE SCREEN</h4>
</div>

<div class=" jumbotron center visible-xs">
<h4>THE VIDEOS ARE SUPPORTED ONLY IN LARGE SCREEN</h4>
</div>
<div class=" visible-lg">
<% @videos.order('updated_at DESC').each do |video| %>

<% if video.video == nil || video.video.length < 15 %>
 <% else %>
 <div class=" well well-lg col-lg-10 col-lg-offset-1 jumbotron center effect5 user1 ">
 <% user = video.user_id %>
 <% user = User.find(user) %>
 <h3> video shared by: <%= user.username %> </h3></br>

  <object width="100%" height="450"
  data="<%= video.video %>" >
  </object>
</div>
<% end %>
<% end %>
</div>
