<div class="visible-lg center jumbotron jumbotron1" style="background-size: cover;">
  <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
<div class="visible-xs center ">
  <h1>AEROSPACE BLOG</h1>
</br>
</br>
</br>
<div class="image">
  <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
</div>
<div class="visible-md center  tablet">
  <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
</br>
<div class="visible-sm center  mobile">
  <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
</br>
