
<div class="bg-info">
</br>
<h1 align="center">Listing All Categories</h1>
<br>
<div align="center">
  <%= will_paginate %>
  <% @categories.each do |category| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-4 col-md-offset-4 effect5 user1">
          <li class="article-title">
            <%= link_to "#{category.name}", category_path(category) %>
          </li>
        </br>
          <li class="btn-warning btn-lg"><small ><%= pluralize(category.articles.count, "article") %></small></li>
        </div>
      </div>
    </ul>
  </br>
  <% end %>
  <%= will_paginate %>
</div>
</br>
</div>
