<div class="container ">
  <footer class="footer ">
    <small>
        Copyright &copy; Aerospace students blog
      by <em>CHRISSIE FERNANDO</em>
    </small>
    <nav>
      <div class="hidden-xs">
      <ul>
        <li ><%= link_to "About Us", about_path %></li>
      </ul>
    </div>
    </nav>
  </footer>
</br>
</div>
  <div class=" col-xs-offset-3 visible-xs col-xs-12">
  <ul>
    <h3 ><%= link_to "About Us", about_path %></h3>
  </ul>
  </div>
